.test-css {
    background-image: url("https://maximtop.github.io/adguard-test-csp-trusted/src/AdGuard-logo.png");
    width: 200px;
    height: 200px;
    border: black 1px solid;
    margin: 5px;
}

.test-js {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 5px;
    display: flex;

}

.test-js .text {
    align-self: center;
}
